.grid__container {
	display: inline-grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(32, 1fr);
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 144px;
}
.grid__element {
	overflow: hidden;
	position: relative;
}
.grid__element:hover .overlay {
	opacity: 0.5;
}
.overlay {
	position: absolute;
	background-color: #070231;
	opacity: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s ease-in-out;
}
.pic {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.first {
    grid-row: 1 / 8;
    grid-column: 1 / 4;
}
.second {
    grid-row: 1 / 7;
    grid-column: 4 / 7;
}
.third {
    grid-row: 1 / 11;
    grid-column: 7 / 10;

}
.fourth {
    grid-row: 8 / 16;
    grid-column: 1 / 4;
}
.fifth {
    grid-row: 7 / 14;
    grid-column: 4 / 7;
}
.sixth {
    grid-row: 11 / 19;
    grid-column: 7 / 10; 
}
.seventh {
    grid-row: 16 / 24;
    grid-column: 1 / 4;
}
.eighth {
    grid-row: 14 / 23;
    grid-column: 4 / 7;
}
.nineth {
    grid-row: 19 / 28;
    grid-column: 7 / 10;  
}
.tenth {
    grid-row: 24 / 33;
    grid-column: 1 / 4;
}
.eleventh {
    grid-row: 23 / 33;
    grid-column: 4 / 7;
}
.twelveth {
    grid-row: 28 / 33;
    grid-column: 7 / 10;
}