$main-text-color: black;
$main-font-family: 'Mulish', sans-serif;

body {
    margin: auto;
    max-width: 1109px;
}

@import 'header';
@import 'intro';
@import 'grid';
@import 'footer';
@import 'award';
@import 'group';