$main-text-color: black;
$main-font-family: 'Mulish', sans-serif;

body {
    margin-left: 125px;
    margin-right: 125px;
}
header {
    color: $main-text-color;
    font-family: $main-font-family;
    position: relative;
    top: 61px;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__list {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        list-style: none;
    }
    &__li {
        margin-left: 29px;
        position: relative;
        bottom: 32px;
    }
}
.nav__link:hover {
    font-weight: bold;
    color: orange;
    text-decoration: underline;
}
.intro {
    margin-top: 99px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $main-text-color;
    font-family: $main-font-family;
}
h4 {
    color: #4A4FF2;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.423px;
}
.intro-content {
    width: 70%;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
}
.quote {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    align-self: flex-end;
    position: relative;
    right: 100px;
    bottom: 100px;
}
.grid__container {
	display: inline-grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(32, 1fr);
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 144px;
}
.grid__element {
	overflow: hidden;
	position: relative;
}
.grid__element:hover .overlay {
	opacity: 0.5;
}
.overlay {
	position: absolute;
	background-color: #070231;
	opacity: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s ease-in-out;
}
.pic {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.first {
    grid-row: 1 / 8;
    grid-column: 1 / 4;
}
.second {
    grid-row: 1 / 7;
    grid-column: 4 / 7;
}
.third {
    grid-row: 1 / 11;
    grid-column: 7 / 10;
 
}
.fourth {
    grid-row: 8 / 16;
    grid-column: 1 / 4;
}
.fifth {
    grid-row: 7 / 14;
    grid-column: 4 / 7;
}
.sixth {
    grid-row: 11 / 19;
    grid-column: 7 / 10; 
}
.seventh {
    grid-row: 16 / 24;
    grid-column: 1 / 4;
}
.eighth {
    grid-row: 14 / 23;
    grid-column: 4 / 7;
}
.nineth {
    grid-row: 19 / 28;
    grid-column: 7 / 10;  
}
.tenth {
    grid-row: 24 / 33;
    grid-column: 1 / 4;
}
.eleventh {
    grid-row: 23 / 33;
    grid-column: 4 / 7;
}
.twelveth {
    grid-row: 28 / 33;
    grid-column: 7 / 10;
}
.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 91px;
}
.group-content {
    width: 65%;
    color: $main-text-color;
    font-family: $main-font-family;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 135.714% */
}
h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 26px; /* 162.5% */
    }
    .devider {
        width: 100%;
        margin-top: 101px;
    }
    .devider-inside {
        width: 380%;
        position: relative;
        bottom: 90px;
    }
    .award, .award-second {
        display: grid;
        grid-template-columns: 250px 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        height: 100%;
        grid-gap: 100px;
        color: $main-text-color;
        font-family: $main-font-family;
    }
    .award-second {
        position: relative;
        bottom: 90px;
    }
    h4 {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    h5 {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
            }

    .box1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;  
    }
    .box2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
       
    }
    .box3 {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        width: 190px;
          
    }
    .box4 {
        grid-row: 1 / 2;
        grid-column: 4 / 5;
         
    }
    .box5 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        
    }
    .box6 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
       
    }
    .box7 {
        
        grid-row: 2 / 3;
        grid-column: 3 / 4;
          
    }
    .box8 {
        
        grid-row: 2 / 3;
        grid-column: 4 / 5;
         
    }
    .year {
        text-align: right;
    }
