$main-text-color: black;
$main-font-family: 'Mulish', sans-serif;

body {
    margin-left: 125px;
    margin-right: 125px;
}
.frame {
    color: $main-text-color;
    font-family: $main-font-family;
    margin-top: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    width: 475px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 137.5% */
}
h6 {
    width: 635px;
    height: 222px;
    flex-shrink: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    width: 40%;
    color: $main-text-color;
    font-family: $main-font-family;
    position: relative;
    left: 150px;
}
h5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.detail-title {
    opacity: 0.5;
}
.box1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;  
    }
 .box2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    }
 .box3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    }
 .box4 {
     grid-row: 2 / 3;
    grid-column: 2 / 3;
    }
 .box5 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    }
 .box6 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    }
 .box7 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;  
    }
 .box8 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    }
.box9 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    }
.box10 {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    }
.box11 {
    grid-row: 6 / 7;
    grid-column: 1 / 2;  
    }
.box12 {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    }
p {
    color: $main-text-color;
    font-family: $main-font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    width: 1109px;
    height: 93px;
    flex-shrink: 0;
    }
.details-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    margin-top: 132px;
}
.photo {
    margin: 30px;
}
@import 'header';
@import 'footer';